@tailwind screens;
@tailwind components;
@tailwind utilities;
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background: #160424;

    background-image: 
    radial-gradient(white, rgba(255, 255, 255, 0.13) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.678) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.07) 2px, transparent 40px)
    /* radial-gradient(rgba(255, 255, 255, 0.438), rgba(255, 255, 255, 0.055) 3px, transparent 30px) */
    ;
    
    ;
    background-size: 450px 450px, 250px 250px, 150px 150px, 50px 50px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    /* background-size: 45% 45%, 25% 25%, 15% 15%, 5% 5%;  */
}
#pp{

    background: url(./foreground.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -100;
	
	animation-name: STAR-MOVE;
	animation-duration: 200s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#ppp{

    background: url(./midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -100;
	
	animation: STAR-MOVE;
	animation-duration: 200s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}

@keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to { 
		left: -10000px;
		top: -2000px;
	}
}

.ball{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: -100;
    border-radius: 50%;
    box-shadow: inset -5px 5px 15px 3px rgb(18, 4, 59);
    border: 1px solid rgb(12, 1, 43);
    top:-100px;
    animation: drop alternate;
    animation-duration: 8s;
    animation-delay: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes drop{
    /* 0%{
        top:-10px
    } 
    10%{
        top: 10vh;
    }
    20%{top:20vh}
    30%{top:30vh}
    40%{top:40vh}
    50%{top:50vh}
    60%{top:60vh}
    70%{top:70vh}
    80%{top:80vh}
    90%{top:90vh}
    100%{top:100vh} */
    from{top:-10vh}
    to{top:100vh}
    
   


}
#ball1{
    right: 10%;
    background-color: rgb(255, 255, 255);
}
#ball2{
    animation-delay: 11s;
    right: 20%;
    background-color: rgb(242, 141, 68);
}
#ball3{
 
    right: 30%;
    animation-delay: 10.4s;
    background-color: rgb(125, 90, 207);
}
#ball4{
   
    right: 40%;
    animation-delay: 12.5s;
    background-color: rgb(19, 139, 29);
}
#ball5{
  
    right: 50%;
    animation-delay: 13.2s;
    background-color: rgb(241, 59, 220);
}
#ball6{
 
  right: 60%;
  animation-delay: 11.8s;
  background-color: rgb(233, 150, 150);
}
#ball7{
 
    right: 80%;
    animation-delay: 20.8s;
    background-color: saddlebrown;
}
#ball8{
  
    right: 70%;
    animation-delay: 21.2s;
    background-color: rgb(216, 180, 223);
}
#ball9{
  
    left:10px;
    animation-delay: 22s;
    background-color: rgb(102, 96, 91);
}
#ball10{
 
    right: 10px;
    animation-delay: 22.6s;
    background-color: rgb(149, 177, 26);
}
/* #ball11{
   
    right: 90%;
    animation-delay: 13s;
    background-color: rgb(56, 221, 50);
}
#ball12{
 
    left: 90%;
    animation-delay: 2.1s;
    background-color: rgb(31, 80, 72);
}
#ball23{
    animation-delay: 3.8;
    right: 10%;
    background-color: rgb(255, 255, 255);
}
#ball13{
    animation-delay: 4s;
    right: 20%;
    background-color: rgb(242, 141, 68);
}
#ball14{
 
    right: 30%;
    animation-delay: 4.8s;
    background-color: rgb(125, 90, 207);
}
#ball24{
   
    right: 40%;
    animation-delay: 5s;
    background-color: rgb(19, 139, 29);
}
#ball15{
  
    right: 50%;
    animation-delay: 4.8s;
    background-color: rgb(241, 59, 220);
}
#ball16{
 
  right: 60%;
  animation-delay: 6s;
  background-color: rgb(233, 150, 150);
}
#ball17{
 
    right: 80%;
    animation-delay: 6.8s;
    background-color: saddlebrown;
}
#ball18{
  
    right: 70%;
    animation-delay: 7s;
    background-color: rgb(216, 180, 223);
}
#ball19{
  
    left:10px;
    animation-delay: 7.8s;
    background-color: rgb(102, 96, 91);
}
#ball20{
 
    right: 10px;
    animation-delay: 9s;
    background-color: rgb(50, 221, 193);
}
#ball21{
   
    right: 90%;
    animation-delay: 9.8s;
    background-color: rgb(102, 96, 91);
}
#ball22{
 
    left: 90%;
    animation-delay: 10s;
    background-color: rgb(43, 16, 88);
} */

@media screen and (max-width: 480px){
   
    .ball{
      display: none;
    }
    
    }
    
    
